<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Banner List</h2>

        </div>
        <div>

            <a href="/admin/addBanner" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4 ">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="table-responsive ">
                    <table class="table table-nowrap ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Created Date</th>
                                <th>Image</th>
                                
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%response.forEach(function(response,index){%>
                            <tr>
                                   <td>
                                    <%=index+1%> 
                                    </td>
                                    <td>
                                        <%=response.title%>
                                    </td>
                                    <td>
                                        <%=response.createdAt.toLocaleString()%>
                                    </td>
                                    <td><img src="/uploads/<%=response.image%>" alt=""
                                        style="width:50px;height:50px"></td>
                               
                                    <td class="text-end"><a href="/admin/editBanner/<%=response._id%>"><button
                                        class="btn btn-primary">Edit</button></a>

                                <% if(response.unlist){%>
                                    <a href=""><button class="btn btn-success text-white"
                                            onclick="unlistProduct('<%=response._id%>',false)">List</button></a>
                                    <%}else{%>
                                        <a href=""><button class="btn btn-danger "
                                                onclick="unlistProduct('<%=response._id%>',true)">Unlist</button></a>

                                        <%}%>
                            </td>
                                </tr>
                                <%})%>
                           
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
        <!-- card-header end// -->
        <!-- card-body end// -->
    </div> <!-- card end// -->

</section> <!-- content-main end// -->


<script>
    function unlistProduct(bannerId, condition) {
        $.ajax({
            url: '/admin/unListBanner/',
            method: 'PUT',
            data: {
                bannerId: bannerId,
                condition: condition

            },
            success: (response) => {
                location.reload()
            }
        })
    }
</script>