<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
           
        </div>
      
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="orderTable">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%response.forEach((response)=>{%>
                        <tr>

                            <td><%=response.orderId%></td>
                            <td><b><%=response.userName%></b></td>
                            <td>₹ <%=response.total%></td>
                            <td>
                                <%if(response.status=='ordered'){%>
                                    <span class="badge rounded-pill alert-warning">Ordered</span></td>
                                <%}else if(response.status=='cancelled'){%>
                                    <span class="badge rounded-pill alert-danger">Cancelled</span></td>
                                    <%}else if(response.status=='orderPlaced'){%>
                                        <span class="badge rounded-pill alert-primary">Placed</span></td>
                                        <%}else if(response.status=='orderDispatched'){%>
                                            <span class="badge rounded-pill alert-primary">Dispatched</span></td>
                                            <%}else if(response.status=='outForDelivery'){%>
                                                <span class="badge rounded-pill alert-primary">Out for Delivery</span></td>
                                                <%}else if(response.status=='delivered'){%>
                                                    <span class="badge rounded-pill alert-success">Delivered</span></td>
                                                    <%}else if(response.status=='returned'){%>
                                                        <span class="badge rounded-pill alert-danger">Returned</span></td>
    

                                    <%}%>
                            <td><%=response.date.toLocaleString()%></td>
                            <td class="text-end">
                                <a href="/admin/orderDetail?orderId=<%=response.orderId%>&userId=<%=response.userId%>" class="btn btn-md rounded font-sm">Detail</a>
                              </td>
                              
                            
                        </tr>
                        <%})%>
                        
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
   
</section>

<script>

    //dataTable
    $(document).ready( function () {
      $('#orderTable').DataTable();
  } );
</script>