<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Sales Report</h2>
           
        </div>
        <div>
            <div class="text-center">

                <button class="btn btn-primary " onclick="downloadAsPDF()" id="download-pdf">Download as PDF</button>
              </div>
              

        </div>
        <div>
            <div class="text-center">

                <button class="btn btn-primary " onclick="export_data()" id="download-excel">Download as Excel</button>
              </div>
        </div>

        <div >
            <form action="/admin/salesReport" method="post">
                <div class="form-group">
                    <label for="startdate">Start Date</label>
                    <input type="date" class="form-control bg" id="startdate" name="startdate">


<span id="date-error1" style="display: none; color: red;">Invalid Start Date</span>

                  </div>
                  
                  <div class="form-group">
                    <label for="enddate">End Date</label>
                    <input type="date" class="form-control" id="enddate" name="enddate">

  <span id="date-error2" style="display: none; color: red;">Invalid End Date</span>
  <span id="date-error3" style="display: none; color: red;">Invalid Start Date & End Date</span>


                  </div>
                  <div class="text-center">
                    <input type="hidden" id="enddateHidden" name="enddateHidden" value="<%=start.toLocaleString()%>">
                    <input type="hidden" id="startdateHidden" name="startdateHidden" value="<%=end.toLocaleString()%>">


                      <button class="btn btn-primary " id="submit-button" type="submit">Submit</button>
                    </div>
                  

            </form>
        </div>
      
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive" id="salesReportFull">
                <table class="table table-hover" id="salesReport">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Item Name</th>
                           
                            <th scope="col">Price</th>
                            <th scope="col">Payment Method</th>
                            
                            <th scope="col">Date & Time</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <%response.forEach((response)=>{%>
                        <tr>

                            <td><%=response.orderId%></td>
                            <td><b><%=response.username%></b></td>
                            <td><%response.productDetails.forEach(function(response){%>
                                <p><%=response.productsName%> - <span><%=response.quantity%></span></p>
                            <%})%></td>
                            
                            <td><%=response.totalPrice%></td>
                            <td><%=response.paymentMethod%></td>
                          
                            

                           
                            <td><%=response.dateAndTime.toLocaleString()%></td>
                           
                              
                            
                        </tr>
                        <%})%>
                        
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    
</section>


<script>

    //datatable
  $(document).ready(function () {
      $('#salesReport').DataTable();
  });



  //validation
  let startDate = document.getElementById('startdate');
  let endDate = document.getElementById('enddate');
  let error1 = document.getElementById('date-error1');
  let error2 = document.getElementById('date-error2');
  let error3 = document.getElementById('date-error3');


  let submitButton = document.getElementById('submit-button');
  let downloadPDFButton = document.getElementById('download-pdf');
  let downloadExcelButton = document.getElementById('download-excel');

  // Disable submit button on page load
  submitButton.disabled = true;

  // Add event listeners to start date and end date inputs
  startDate.addEventListener("input", validateDates);
  endDate.addEventListener("input", validateDates);

  function validateDates() {
      const selectedStartDate = new Date(startDate.value);
      const selectedEndDate = new Date(endDate.value);
     


      const today = new Date();
      if(selectedStartDate > selectedEndDate){
        error1.style.display = "none";
      } else {
          error1.style.display = "inline";
      }

      if (selectedStartDate < today) {
          error1.style.display = "none";
      } else {
          error1.style.display = "inline";
      }

      if (selectedEndDate < today) {
          error2.style.display = "none";
      } else {
          error2.style.display = "inline";
      }
      if(selectedStartDate > selectedEndDate){
        error3.style.display = "inline";
      } else {
        error3.style.display = "none";
      }

      // Check if either error is displayed or if end date is before start date
      if (
          error1.style.display === "inline" ||
          error2.style.display === "inline" ||
          selectedEndDate < selectedStartDate
      ) {
          submitButton.disabled = true;
      } else {
          submitButton.disabled = false;
      }
  }


  //download as EXCEL
  function export_data() {
 
      let startDate = document.getElementById('startdateHidden').value
  let endDate = document.getElementById('enddateHidden').value

      let data = document.getElementById('salesReportFull');
      let fp = XLSX.utils.table_to_book(data, { sheet: 'vishal' });
      let fileName =  endDate + '_to_' + startDate + '.xlsx'; // Constructing the file name
      XLSX.writeFile(fp, fileName);
  }


  //download as PDF
  function downloadAsPDF() {

    let startDate = document.getElementById('startdateHidden').value
  let endDate = document.getElementById('enddateHidden').value
  let element = document.getElementById('salesReportFull');
  let opt = {
    margin: 1,
    filename:  endDate + '_to_' + startDate + '.pdf',
    image: { type: 'jpeg', quality: 0.98 },
    html2canvas: { scale: 2 },
    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
    header: [
      {
        text: 'Sales Report - Date Range: ' + endDate + ' to ' +  startDate,
        fontSize: 12,
        alignment: 'center',
        margin: [0, 10, 0, 0]
      }
    ]
  };
  html2pdf().set(opt).from(element).save();
}

</script>