<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">User List</h2>

        </div>

    </div>
    <div class="card mb-4 ">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="table-responsive ">
                    <table class="table table-nowrap " id="userList">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>User Name</th>
                                <th>E-mail Id</th>
                                <th>Phone</th>

                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% response.forEach(function(response,index){%>
                                    <td>
                                        <%=index+1%>
                                    </td>

                                    <td>
                                        <%=response.username%>
                                    </td>
                                    <td>
                                        <%=response.email%>
                                    </td>

                                    <td>
                                        <%=response.phonenumber%>
                                    </td>

                                    <td class="text-end">
                                        <% if(response.blocked){%>
                                            <a href=""><button class="btn btn-success text-white"
                                                    onclick="blockUser('<%=response._id%>',false)">Unblock</button></a>
                                            <%}else{%>
                                                <a href=""><button class="btn btn-danger "
                                                        onclick="blockUser('<%=response._id%>',true)">Block</button></a>

                                                <%}%>
                                    </td>
                            </tr>

                            <%})%>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
        <!-- card-header end// -->
        <!-- card-body end// -->
    </div> <!-- card end// -->
    <!-- <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section> content-main end// -->


    <script>
         $(document).ready( function () {
      $('#userList').DataTable();
  } )
        function blockUser(proId, condition) {
            $.ajax({
                url: '/admin/blockUser/',
                method: 'PUT',
                data: {
                    proId: proId,
                    condition: condition

                },
                success: (response) => {
                    location.reload()
                }
            })
        }
    </script>