<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="admin-assets/imgs/theme/mainlogo1.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item  <%= currentPage === 'dashboard' ? 'active' : '' %>" >
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
           
            <li class="menu-item <%= currentPage === 'products' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <!-- <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div> -->
            </li>
            <li class="menu-item <%= currentPage === 'addCategory' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/addCategory"> <i class="icon material-icons md-home"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item <%= currentPage === 'userList' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-home"></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item <%= currentPage === 'orderList' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <!-- <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                    </div> -->
            </li>
            <li class="menu-item <%= currentPage === 'coupon' ? 'active' : ''%> ">
                <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-store"></i>
                    <span class="text">Coupon</span>
                </a>
                <!-- <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div> -->
            </li>
            <!-- <li class="menu-item ">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li> -->
            <li class="menu-item <%= currentPage === 'bannerList' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/bannerList"> <i
                    class="icon material-icons md-stars"></i>
                    <span class="text">Banner</span>
                </a>
                <!-- <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div> -->
            </li>
            <li class="menu-item <%= currentPage === 'salesReport' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Sales Report</span>
                </a>
                <!-- <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div> -->
            </li>
            <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> -->
           
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">

        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>

                <%if(locals.admin){%>
                    <a href="/admin/logout" class="btn btn-primary"> Logout</a>

                    <!-- <li class="dropdown nav-item">
                        <a  data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"><button class="btn btn-primary dropdown-toggle text-white"> Admin</button></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li> -->
                    <%}else{%>

                        <a href="/admin" class="btn btn-primary"> Login</a>




                        <%}%>
            </ul>
        </div>
    </header>