<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="admin-assets/imgs/theme/mainlogo1.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item  <%= currentPage === 'dashboard' ? 'active' : '' %>">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item <%= currentPage === 'products' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item <%= currentPage === 'addCategory' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/addCategory"> <i class="icon material-icons md-home"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item <%= currentPage === 'userList' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-home"></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item <%= currentPage === 'orderList' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            <li class="menu-item <%= currentPage === 'coupon' ? 'active' : ''%> ">
                <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-store"></i>
                    <span class="text">Coupon</span>
                </a>

            </li>

            <li class="menu-item <%= currentPage === 'bannerList' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/bannerList"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Banner</span>
                </a>

            </li>
            <li class="menu-item <%= currentPage === 'salesReport' ? 'active' : ''%>">
                <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Sales Report</span>
                </a>

            </li>


            <br>
            <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">

        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>

                <%if(locals.admin){%>
                    <a href="/admin/logout" class="btn btn-primary"> Logout</a>

                    <%}else{%>

                        <a href="/admin" class="btn btn-primary"> Login</a>




                        <%}%>
            </ul>
        </div>
    </header>