



<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        
                    </div>
                   
                </div>
                <div class="row product-grid-3" id="product-loop">
                    <%response.forEach(function(response){%>
                        <%if(response.unlist==false){%>


                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/uploads/ <%=response._id%>">
                                                <img class="default-img" src="/uploads/<%=response.Image[0] %>" alt=""
                                                    style="width:20rem;height:19rem">
                                                <img class="hover-img" src="/uploads/<%=response.Image[1] %>" alt=""
                                                    style="width:20rem;height:19rem">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtoWishlist('<%=response._id%>'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Wishlist',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })" href="#"><i
                                                    class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                    class="fi-rs-shuffle"></i></a>
                                        </div>

                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">
                                                <%=response.Category%>
                                            </a>
                                        </div>
                                        <h2><a href="/detailView/<%=response._id%>">
                                                <%=response.Productname%>
                                            </a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹ <%=response.Price%></span>
                                            <span class="old-price">₹<%=response.Price+200%></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <button type="button" aria-label="Add To Cart" class="action-btn hover-up" onclick="addtocart('<%=response._id%>'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Cart',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })">
                                                <i class="fi-rs-shopping-bag-add"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <%})%>

                </div>
                <!--pagination-->
                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0" id="pageInation">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let i = 1; i <= pages; i++) { %>
                                <li class="page-item <%= (pageNum === i) ? 'active' : '' %>">
                                    <a class="page-link" href="/shop?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                <div class="widget-category mb-30">
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                    <ul class="categories">
                        <%category.forEach(function(response){%>
                            <%if(response.unlist==false){%>
                            <li><a  onclick="filterProduct('<%=response.CategoryName%>')">
                                    <%=response.CategoryName%>
                                </a></li>
                                <%}%>

                            <%})%>
                    </ul>
                </div>
              
            </div>
        </div>
    </div>
</section>

<script>
    function addtocart(proId){
      console.log(proId);
        $.ajax({
            url:`/addToCart/${proId}`,
            method:"GET",
            success:(response)=>{
                if(response.status){
                    const count=$('#cartCount').html()
                    let num = parseInt(count)
                    console.log(typeof(num));
                    $('#cartCount').html(num+1)
                    
                }

            }
        })
        // location.reload()
       
    }

    function addtoWishlist(proId){
      console.log(proId);
        $.ajax({
            url:`/addToWishlist/${proId}`,
            method:"GET",
            success:(response)=>{
                if(response.status){
                    const count=$('#wishlistCount').html()
                    let num = parseInt(count)
                    console.log(typeof(num));
                    $('#wishlistCount').html(num+1)
                    
                }

            }
        })
        // location.reload()
       
    }
    function filterProduct(catName){
        
        let productloop=document.getElementById("product-loop")
        let pageInation=document.getElementById('pageInation')
        console.log(catName,'catt');
        $.ajax({
            url:'/filterCategory?catName=' + catName,
            method:'post',
            success:(response)=>{
                
                
                console.log(response);
                let loop=''
              
                for(let i=0;i<response.length;i++){
                    loop+=
                        `


                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/uploads/ ${response[i]._id}">
                                                <img class="default-img" src="/uploads/${response[i].Image[0]}" alt="" style="width:20rem;height:19rem">
                                                <img class="hover-img" src="/uploads/${response[i].Image[1]}" alt="" style="width:20rem;height:19rem">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtoWishlist('${response[i]._id}'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Wishlist',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })" href="#"><i
                                                    class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                    class="fi-rs-shuffle"></i></a>
                                        </div>

                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">
                                                ${response[i].Category}
                                                
                                            </a>
                                        </div>
                                        <h2><a href="/detailView/${response[i]._id}">
                                                
                                                ${response[i].Productname}
                                            </a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹ ${response[i].Price}</span>
                                            <span class="old-price">₹ ${response[i].Price+200}</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <button type="button" aria-label="Add To Cart" class="action-btn hover-up" onclick="addtocart('${response[i]._id}'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Cart',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })">
                                                <i class="fi-rs-shopping-bag-add"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            
                `
                       
                        }
                        console.log(loop)
                        productloop.innerHTML = loop
                        pageInation.innerHTML = ""

               
            }
        })
    }
    


</script>