<section class="mt-50 mb-50">

    <div class="container ">
        <div class="row flex-row-reverse">




            <div class="col-lg-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">

                    </div>

                </div>
                <h1 id="not-found" class="text-center">

                </h1>


                <div class="row product-grid-3" id="product-loop">
                    <%product.forEach(function(product){%>
                        <%if(product.unlist==false){%>


                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/uploads/ <%=product._id%>">
                                                <img class="default-img" src="/uploads/<%=product.Image[0] %>" alt=""
                                                    style="width:20rem;height:19rem">
                                                <img class="hover-img" src="/uploads/<%=product.Image[1] %>" alt=""
                                                    style="width:20rem;height:19rem">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtoWishlist('<%=product._id%>'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Wishlist',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })" href="#"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                    class="fi-rs-shuffle"></i></a>
                                        </div>

                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">
                                                <%=product.Category%>
                                            </a>
                                        </div>
                                        <h2><a href="/detailView/<%=product._id%>">
                                                <%=product.Productname%>
                                            </a></h2>
                                        <div class="rating-result" title="<%=product.offerPercentage%>">
                                            <span>
                                                <span><%=product.offerPercentage%> % off</span>
                                            </span>
                                           
                                        </div>
                                        <%if(product.Quantity==0){%>
                                       
                                        <div >
                                            <span class="text-danger">
                                                Out of Stock
                                            </span>
                                        </div>
                                        <%}%>
                                        <div class="product-price">
                                            <span>₹ <%=product.offerPrice%></span>
                                            <span class="old-price">₹<%=product.Price%></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <%if(product.Quantity==0){%>
                                                <button type="button" aria-label="Add To Cart" class="action-btn hover-up"
                                                        onclick="addtocart('<%=product._id%>')" disabled>
                                                        <i class="fi-rs-shopping-bag-add"></i></button>
                                                <%}else{%>
                                                    <button type="button" aria-label="Add To Cart" class="action-btn hover-up"
                                                        onclick="addtocart('<%=product._id%>')">
                                                        <i class="fi-rs-shopping-bag-add"></i></button>

                                                    <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <%})%>

                </div>



                <!--pagination-->
                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0" id="pageInation">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let i=1; i <=pages; i++) { %>
                                <li class="page-item <%= (pageNum === i) ? 'active' : '' %>">
                                    <a class="page-link" href="/shop?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </nav>
                </div>






            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                <form id="formId">
                    <div class="input-group pb-4">
                        <span class="d-inline-block text-dark align-middle mt-10 mr-10"></span>
                        <input type="text" class="form-control form-control-lg border-0 bg-light text-dark"
                            name="search" id="search" placeholder="Search here...">
                        <button type="button" class="btn btn-sm btn-dark " onclick="userQuery(1,event)">Search</button>
                    </div>
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>

                        <select name="filter" id="sort" class="form-select align-middle">
                            <option disabled selected>Click me</option>
                            <%category.forEach(function(response){%>
                                <%if(response.unlist==false){%>

                                    <option value="<%=response.CategoryName%>">
                                        <%=response.CategoryName%>
                                    </option>
                                    <%}%>

                                        <%})%>

                        </select>

                    </div>
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort</h5>

                        <select name="sort" id="sort" class="form-select align-middle">
                            <option disabled selected>Click me</option>

                            <option value="-createdAt">Newest</option>
                            <option value="createdAt">Oldest</option>
                            <option value="-price">Price high to low</option>
                            <option value="price">Price low to high</option>
                        </select>
                    </div>

                </form>
            </div>
        </div>
</section>

<script>
    function addtocart(proId) {
        console.log(proId);
        $.ajax({
            url: `/addToCart/${proId}`,
            method: "GET",
            success: (response) => {
                console.log(response, 'reessss');
                if (response.status==false) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Item Added Successfully To Cart',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    

                }else if (response.status==true) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Item Added Successfully To Cart',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    const count = $('#cartCount').html()
                    let num = parseInt(count)
                    console.log(typeof (num));
                    $('#cartCount').html(num + 1)

                }else if(response.err){
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: response.err,
                        showConfirmButton: false,
                        timer: 2000
                    })
                }

            }
        })
        // location.reload()

    }

    function addtoWishlist(proId) {
        console.log(proId);
        $.ajax({
            url: `/addToWishlist/${proId}`,
            method: "GET",
            success: (response) => {
                if (response.status) {
                    const count = $('#wishlistCount').html()
                    let num = parseInt(count)
                    console.log(typeof (num));
                    $('#wishlistCount').html(num + 1)

                }

            }
        })
        // location.reload()

    }
    function filterProduct(catName) {

        let productloop = document.getElementById("product-loop")
        let pageInation = document.getElementById('pageInation')
        console.log(catName, 'catt');
        $.ajax({
            url: '/filterCategory?catName=' + catName,
            method: 'post',
            success: (response) => {


                console.log(response);
                let loop = ''

                for (let i = 0; i < response.length; i++) {
                    loop +=
                        `


                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/uploads/ ${response[i]._id}">
                                                <img class="default-img" src="/uploads/${response[i].Image[0]}" alt="" style="width:20rem;height:19rem">
                                                <img class="hover-img" src="/uploads/${response[i].Image[1]}" alt="" style="width:20rem;height:19rem">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtoWishlist('${response[i]._id}'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Wishlist',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })" href="#"><i
                                                    class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="#"><i
                                                    class="fi-rs-shuffle"></i></a>
                                        </div>

                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">
                                                ${response[i].Category}
                                                
                                            </a>
                                        </div>
                                        <h2><a href="/detailView/${response[i]._id}">
                                                
                                                ${response[i].Productname}
                                            </a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹ ${response[i].Price}</span>
                                            <span class="old-price">₹ ${response[i].Price + 200}</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <button type="button" aria-label="Add To Cart" class="action-btn hover-up" onclick="addtocart('${response[i]._id}'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Item Added Successfully To Cart',
                                                showConfirmButton: false,
                                                timer: 2000
                                              })">
                                                <i class="fi-rs-shopping-bag-add"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            
                `

                }
                console.log(loop)
                productloop.innerHTML = loop
                pageInation.innerHTML = ""


            }
        })
    }

    function userQuery(pageNumber = 1) {
        let pageInation = document.getElementById('pageInation')
        event.preventDefault();
        $.ajax({
            url: '/shop',
            method: 'GET',
            data: $('#formId').serialize() + '&page=' + pageNumber,
            success: function (response) {
                console.log(response, 'kkkkkkk');
                if (response) {
                    document.getElementById('not-found').innerHTML = ''

                    var $response = $(response);
                    var $newProductGrid = $response.find('.product-grid-3');

                    $('.product-grid-3').replaceWith($newProductGrid);
                    let element = document.getElementById(`current-page-${pageNumber}`)
                    $('#current-page-1').removeClass('active')
                    $(`#current-page-${pageNumber}`).addClass('active')
                    const status = document.getElementById('search-status').value
                    console.log(status);

                    if (status == 'true') {
                        Swal.fire({
                            icon: 'info',
                            title: 'Info',
                            text: 'Searched Products doesn\'t exist, Sorry!!',
                            timer: 3000
                        }).then(() => {
                            location.reload()

                        });

                    }

                }

            },

            error: function (error) {
                console.log(error, '[[[[]]]]');
                document.getElementById('product-loop').innerHTML = ''
                document.getElementById('not-found').innerHTML = 'Product not found'

            }
        });
        pageInation.innerHTML = ""
    }

    $(document).on('click', '.pagination .page-link', function (e) {
        e.preventDefault();
        let pageNumber = $(this).data('page');
        userQuery(pageNumber);

    });


    $(document).on('click', '#searchBtn', function (e) {
        let pageInation = document.getElementById('pageInation')
        e.preventDefault();
        userQuery();

        pageInation.innerHTML = ""
    });


</script>